{% extends "base.html" %}

{% block title %}{{ entity|title }} Management{% endblock %}
{% block content %}
<p>Check or uncheck names to update the administrator list. Administrators (checked) are listed first, followed by other users.</p>
<form action="{{ action }}" method="POST">
<h3>{{ plural|title }}</h3>
{% if admin_users is not empty %}
<ul>
{% for admin in admin_users %}
<li><input name="mark{{ entity|lower }}_{{ admin.username }}" type="checkbox" aria-label="Mark {{ admin.username }} as administrator" checked="checked"/> {{ admin.given_name }} {{ admin.family_name }} (<em>{{ admin.username }}</em>)</li>
{% endfor %}
</ul>
{% else %}
{# this should never happen #}
<p><em>None</em></p>
{% endif %}
<h3>Other users</h3>
{% if non_admins is not empty %}
<ul>
{% for user in non_admins %}
  <li><input name="mark{{ entity|lower }}_{{ user.username }}" type="checkbox" aria-label="Mark {{ user.username }} as administrator" /> {{ user.given_name }} {{ user.family_name }} (<em>{{ user.username }}</em>)</li>
{% endfor %}
</ul>
{% else %}
<p><em>None</em></p>
{% endif %}

<label for="submitted">Update administrator list </label>
<input name="submitted" type="submit" value=" Update"/>
</form>

{% endblock %}
{% block nav %}
{% include 'nav.html' %}
{% endblock nav %}
