{% extends "base.html" %}

{% block title %}Add new {{ entity|title }}{% endblock %}
{% block content %}

<form action="{{ action|raw }}" method="POST">
  <fieldset>
{% for property in properties %}
{% if property is iterable %}
{% for key, value in property %}
{% if key == parent_entity %}
<input type="hidden" name="{{entity|lower}}_{{ key }}_id" value="{{ parent_id }}" />
{% endif %}
<div>
<label for="{{entity|lower}}_{{ key }}_id">{{ key|title }}</label>
<select name="{{entity|lower}}_{{ key }}_id"{% if key == parent_entity %} disabled="disabled"{% endif %} aria-label="Please select {{ key|title }}">
  <option value="">
    (No {{ key|title }} selected)
  </option>
  <optgroup>
{% for subentity in value %}
<option value="{{ subentity.id }}" {% if subentity.id == parent_id %}selected="selected"{% endif %}>{{ subentity.description }}</option>
{% endfor %}
  </optgroup>
</select>
</div>
{% endfor %}
{% else %}
<div>
  <label for="{{entity|lower}}_{{ property }}">{{ property }}</label>
  <input type="text" name="{{entity|lower}}_{{ property }}" {% if property == 'id' %}disabled="disabled"{% endif %} />
</div>  
{% endif %}
{% endfor %}
<input type="hidden" name="entity" value="{{ entity|lower }}" />
{% if parent_entity is not empty %}<input type="hidden" name="parent_entity" value="{{ parent_entity|lower }}" />{% endif %}
{% if parent_id is not empty %}<input type="hidden" name="parent_id" value="{{ parent_id }}" />{% endif %}
  </fieldset>
<footer>
<input name="submitted" type="submit" value="Create this {{ entity }}"/>
</footer>
<!-- <p><a class="button" href="#">Create this {{ entity }}</a></p>-->
</form>
<p><a href="{{ returnurl }}">Return to {{ entity }} administration</a><p>
{% endblock %}

