{% extends "base.html" %}

{% block title %}{{ entity|title }} Administration{% endblock %}
{% block content %}
<p>Admin list content here</p>
<ul>
<li>(delete checkbox) (details of item) (edit button)</li>
<li>&hellip;</li>
</ul>
<p><strong>Edit</strong> goes to detail screen with existing id number</p>
<p><strong>Add new</strong> goes to detail screen with no id number</p>
<p><strong>Delete</strong> goes to confirm screen, remembers current screen and returns on confirmation or cancellation</p>
<h3>{{ entity|title }}s</h3>
<!-- table if any items present-->
<p><a class="button" href="{{ addurl }}">Add new {{ entity }}</a></p>
<form action="{{ action }}" method="POST">
<table>
<tr>
  <th>Mark to delete</th>
{% for property in properties %}
  <th>{{ property|title }}</th>
{% endfor %}
  <th>Edit</th>
</tr>
{% for item in item_list %}
<tr>
<td><input name="markdelete{{ entity }}{{ item.id }}" value="{{ item.id }}" type="checkbox" aria-label="Mark {{ entity }} {{ item.short_name }} for deletion" /></td>
{% for key, value in item|cast_to_array %}
<td>{{ value }}</td>
{% endfor %}
<td><a class="button" href="{{ editurl }}{{ item.id }}" aria-label="Edit {{ entity }} {{ item.short_name }}">Edit</a></td>
</tr>
{% endfor %}
</table>
<label for="submitted">Confirmation required: </label>
<input name="submitted" type="submit" value="Delete marked {{ entity }}(s)"/>

<!--<p><a class="button" href="{{ deleteurl }}">Delete marked {{ entity }}(s)</a></p> -->
</form>
<p><a class="button" href="{{ addurl }}">Add new {{ entity }}</a></p>
{% endblock %}
{% block nav %}
{% include 'nav.html' %}
{% endblock nav %}
