{% extends "base.html" %}

{% block title %}{{ entity }} Administration{% endblock %}
{% block content %}
<p>Admin list content here</p>
<ul>
<li>(delete checkbox) (details of item) (edit button)</li>
<li>&hellip;</li>
</ul>
<!-- table if any items present-->
<p><a class="button" href="#">Add new {{ entity }}</a></p>
<table>
<tr>
  <th>Mark to delete</th>
{% for property in properties %}
  <th>{{ property|title }}</th>
{% endfor %}
  <th>Edit</th>
</tr>
</table>
<p><a class="button" href="#">Delete marked {{ entity }}(s)</a></p>
<p><a class="button" href="#">Add new {{ entity }}</a></p>
{% endblock %}
{% block nav %}
{% include 'nav.html' %}
{% endblock nav %}
