<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <title>University Stationery : The University of Melbourne</title>  

    <!-- Authoriser and maintainer related meta data - developers, don't forget humans.txt   -->
    <meta name="DC.Creator" content="The University of Melbourne">
    <!-- End authoriser and maintainer meta data -->
    <!-- Static meta data   -->
    <meta name="DC.Rights" content="http://www.unimelb.edu.au/disclaimer">
    <meta name="DC.Publisher" content="The University of Melbourne">
    <meta name="DC.Format" content="text/html">
    <meta name="DC.Language" content="en">
    <meta name="DC.Identifier" content="http://stationery.staff.unimelb.edu.au/">
    <!-- End static meta data -->
    <!-- GLOBAL RESOURCES -->
    <!-- DO NOT CHANGE -->
    <!--[if lt IE 9]><script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="//d2h9b02ioca40d.cloudfront.net/v5.0/uom.css">
    <script src="//d2h9b02ioca40d.cloudfront.net/v5.0/uom.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-9675738-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    
    <div class="uomcontent">
      
      <div class="page-inner">
	
	<div role="main">
	  <header>
	  	    <h1>University Stationery</h1>
	  </header>
	  {% block navmenu %}
	  <div class="no-js" id="sitemap" role="navigation">
	    <h2>University Stationery</h2>
	    <ul>
	      {% include 'home-profile.html' %}
	      {% include 'nav.html' %}
	    </ul>
	  </div>
	  {% endblock %}
	  
	  <section>
	    <h2>{% block title %}University Stationery{% endblock %}</h2>
	    {% block error %}
	    {% if error %}<div class="flash flash--info">
	    {{(error|default(''))|raw}}
	    </div>{% endif %}
	    {% endblock %}
	    
	    {% block content %}
	    <p>Hello Giles!</p>
	    {% endblock %}
	  </section>
	  <div class="half">
	    <section>
	      <h3>Having a Problem with this Portal?</h3>
	      <p><strong>UOM Chili Publish Admin</strong><br />
		<strong>Email:</strong> <a href="mailto:&#x63;&#x68;&#x69;&#x6C;&#x69;&#x40;&#x6C;&#x69;&#x73;&#x74;&#x73;&#x2E;&#x75;&#x6E;&#x69;&#x6D;&#x65;&#x6C;&#x62;&#x2E;&#x65;&#x64;&#x75;&#x2E;&#x61;&#x75;">chili@lists.unimelb.edu.au</a></p>
	    </section>
	    <section>
	      
	      <p>
		Looking for <a href="https://staff.unimelb.edu.au/marketing-communications/design-print-merchandise/university-publishing-templates-online-upto">University Publishing Templates Online</a>?
	      </p>
	    </section>
	  </div>


	</div>
      </div>
  </body>
</html>
