{% extends "base.html" %}

{% block title %}Confirm order{% endblock %}
{% block content %}
<!-- <p>Confirm order and take final details</p>
<p>Requires:</p>
<ul>
  <li>job details</li>
  <li>themis code</li>
  <li>quantity</li>
  <li>special comments</li>
    </ul>
<p>Yields: a CHILI request</p>
<p>prints job as proof pdf</p>
<p>sends proof and job data to temporary storage area</p>
<p>redirect to <a href="index.php?mode=final">final screen</a></p> -->
<h3>{{ stationery }}</h3>
<form action="{{ action }}" method="POST">
	<fieldset class="order">
		<h3>Order Information</h3>
		<label class="col-2" for="quantity">Quantity and price</label>
		<select name ="quantity" class="col-3">{% for item in quantities %}
		<option value="{{ item.quantity }}@{{ item.price_AUD|number_format(2, '.', ',') }}">{{ item.quantity }} : ${{ item.price_AUD|number_format(2, '.', ',') }}</option>
{% endfor %}
		</select>
		
		<label class="col-2" for="themis">THEMIS code</label>
		<input class="col-3" name="themis" maxlength="32" placeholder="xx-xxxx-xx-5573-xxxxxx-xxx-xx-xx" required = "required">
		<hr />
		<note class="col-3 push-2">Please ensure the natural account code 5573 is used.</note>
	</fieldset>
		
	<fieldset class="address">
		<h3>Delivery Address</h3>
		<label class="col-2" for="addressee">Addressee</label>
		<input class="col-3" name="addressee" id="addressee" required = "required">
		<label class="col-2" for="location">Location</label>
		<input class="col-3" name="location" id="location" placeholder="eg. level, office no, etc">
		<label class="col-2" for="number">Number</label>
		<input class="col-3" name="number" id="number">
		<label class="col-2" for="street">Street name</label>
		<input class="col-3" name="street" id="street">
		<label class="col-2" for="town">Town/Campus</label>
		<input class="col-3" name="town" id="town" required = "required" >
		<label class="col-2" for="postcode">Postcode</label>
		<input class="col-3" name="postcode" id="postcode" required = "required">
		<!-- note that 2-letter country code is a field in the database, but deliveries are assumed to be in Australia for now 2014-02-07 -->
	</fieldset>
	
	<fieldset>
		<h3>Additional information</h3>
		<textarea class="col-6" name="comments"></textarea>
	</fieldset>
	<hr />
	<div class="pullout">
		<p class="pullquote smaller align-center">Please check that all information entered above is correct before placing your order.</p>
	</div>
	<hr /><br />
	<input id="job" name="job" type="hidden" value="{{ job_id }}" />
	<label><input class="button-text" name="submitted" type="submit" value="Place Order"></label>
</form>
<script type="text/javascript">
var reversed = [29, 26, 22, 10, 7, 2];
var hyphen_count = reversed.length -1;
var countdown = hyphen_count;
var removehyphen;
$("[name='themis']").keyup(function(event){
			       if(event.target.value.length < 2){
				   countdown = hyphen_count;
			       }
			       if (countdown >-1 && event.target.value.length == reversed[countdown]) {
				   event.target.value += "-";
				   if (reversed[countdown] == 10){
				       event.target.value += "5573-";
				   }
			       }
			       else if (event.target.value.length > reversed[countdown]){
				   countdown --;
			       }
    removehyphen = event.target.value.replace(/--/g, '-');
    event.target.value = removehyphen;
			   }
			  );
</script>
{% endblock %}
{% block nav %}
{% include 'nav.html' %}
{% endblock nav %}
