{% extends "base.html" %}
{% block title %}Edit template{% endblock %}
{% block content %}
<script>

      var editor;

      function GetEditor()
      {
      if (document.getElementsByTagName("iframe").length > 0)
      {
      if (document.getElementsByTagName("iframe")[0].src != "")
      {
      frameWindow = document.getElementsByTagName("iframe")[0].contentWindow;
      frameWindow.GetEditor(EditorLoaded);
      }
      }
      }

      function EditorLoaded(jsInterface)
      {
      editor = frameWindow.editorObject;
      }

    </script>
<p><strong>Step 1:</strong> Enter details to the left<br />
  <strong>Step 2:</strong> Save stationery<br />
  <strong>Step 3:</strong> Proof stationery as PDF<br />
  <strong>Step 4:</strong> Once proof approved, submit order</p>

<div id="buttons">
  <a class="button" href="{{ proofurl }}">Proof PDF</a> <a class="button" href="{{ submiturl }}">Submit Order</a>
</div>



  <div class="fullwidth">
    <iframe id="iframe" width="100%" height="800" onload="GetEditor()" src="{{ iframesrc }}" /></div>
  <!-- http://011s-chili-web.its.unimelb.edu.au/CHILI//Client_48/editor.aspx?doc=de5fa915-9376-4bf9-bc2b-fbec8195c5c1&ws=149598f7-4881-4fbf-86e5-675257f7f4c3&apiKey=ri6ggxyqdA5j5+xyptuoFYOP00geV025dCXweXgdPnoWgWBzMICHzC+7Z87CGpqWF2NvpcC_tdBJuYYfCsovKg&username=Anonymous&password= -->
  {% endblock %}
