{% extends "base.html" %}

{% block title %}Final{% endblock %}
{% block content %}
<p>Hello {{ userprofile.given_name }} {{ userprofile.family_name }}</p>
<p>Your order confirmation is below.</p>
<h3>Your Order #{{ ordernumber }} (placed on {{ order_date }})</h3>
<p>{{ stationery_type }}</p>
<p>{{ quantity }} @ ${{ price }}</p>
<h3>Delivery Address</h3>
<p>{{ address_details.addressee }}<br />
	{{ address_details.location }}<br />
	{{ address_details.street_number }} {{ address_details.street }}<br />
	{{ address_details.town }} {{ address_details.postcode }}
</p>
<h3>Turnaround and delivery</h3>
<p>Orders approved by 1:00 PM Wednesday will be delivered to the Design, Print and Merchandise office on the following Monday afternoon.<p>
<p>Stationery is despatched through the University’s internal mail system to the address
  details above</p>
<p>Please Note: Design, Print and Merchandise takes no responsibility for the
  delivery once it leaves the office.</p>
<div id="buttons">
	<p><a class="button" href="index.php?mode=template">Order more stationery</a></p>
	<p><a class="button" href="logout.php">Sign Out</a></p>
</div>

{% endblock %}
{% block nav %}
{% include 'nav.html' %}
{% endblock nav %}
