{% extends "base.html" %}

{% block title %}Order History{% endblock %}
{% block content %}
<h3>Previous Orders</h3>
{% if jobs|length >0 %}
<div id="order-history">
	<ul class="order">
		{% for job in jobs %}
		<li><span class="order-left"><span class="job-id">{{ job.job_id }}.</span><a class="button" href="{{ job.url }}">Re-order</a></span><span class="order-right"><span class="job-order">{{ job.quantity }} x {{ job.template_name }}</span><span class="date">Last Ordered: {{ job.ordered }}</span></span></li>
		{% endfor %} 
	</ul>
</div>
<h3>Unsubmitted Orders</h3>
<div id="order-history">
	<ul class="order">
		{% for job in incomplete %}	
		<li><span class="order-left"><span class="job-id">{{ job.job_id }}.</span><a class="button" href="{{ job.url }}">Update</a></span><span class="order-right"><span class="job-unsub">{{ job.template_name }}</span></span></li>
{% endfor %}
	</ul>
</div>
{% endif %}
{% endblock content %}
{% block nav %}
{% include 'nav.html' %}
{% endblock nav %}
