{% extends "base.html" %}
{% block title %}University Stationery login{% endblock %}
{% block content %}
{{ notice | raw }}
	<form method="post" action="checkin.php" id="login_form_login_prompt" style="z-index:1000;">
		<fieldset>
		  <legend>Please login using your Unimelb staff credentials</legend>
		  <div>
		    <label for="userName">Username</label><input aria-required="true" data-error="Please enter your user name." id="userName" name="userName" type="text" size="30" />
		  </div>
		  <div>
		    <label for="pw">Password</label><input aria-required="true" data-error="Please enter your unimelb password." id="pw" name="pw" type="password" size="30" value="" />
		  </div>
		</fieldset>
		<footer>
		  <input type="submit" value="Login" id="log_in_out_button" />
		</footer>
	</form>
{% endblock %}
