<div class="nav-bar">
  <ul>
    {% if modes|length > 2 %}
		<li><a class="index" id="area_index-toggle" href="">Administration</a></li>
    {% for key,value in modes|slice(-2) %}
    <li><a href="index.php?mode={{ key }}">{{ value }}</a></li>
    {% endfor %}
    {% else %}
    {% for key,value in modes %}
    <li><a href="index.php?mode={{ key }}">{{ value }}</a></li>
    {% endfor %}
    {% endif %}
    <li><strong><a href="logout.php">Sign out</a></strong></li>
  </ul>
</div>
<div class="index_expand">
	<ul>
		{% for key,value in modes|slice(0,5) %}
		<li><a href="index.php?mode={{ key }}">{{ value }}</a></li>
		{% endfor %}
	</ul>
	<hr />
</div>
