{% extends "base.html" %}

{% block title %}Your Profile{% endblock %}
{% block content %}
{% if first_time == true %}
<p><span class="important">IMPORTANT:</span> Before you start using University Stationery, you must set up a profile by completing the form below.</p>
{% endif %}
<form action="{{ action }}" method="POST">
	<fieldset class="personal-details">
		<h3>Username: <span class="username">{{ user }}</span></h3>
		<label class="col-2" for="firstname">First name</label>
		<input class="col-3" name="firstname" id="firstname" required="required" value="{{ first_name }}" />
		<label class="col-2" for="lastname">Last name</label>
		<input class="col-3" name="lastname" id="lastname" required="required" value="{{ surname }}" />
		<label class="col-2" for="phone">Telephone</label>
		<input class="col-3" name="telephone" id="telephone" required="required"/>
		<label class="col-2" for="email">Email</label>
		<input class="col-3" type="email" name="email" id="email" required="required" value="{{ email }}" />
	</fieldset>
	
	<fieldset class="address">
		<h3>Delivery Address</h3>
		<label class="col-2" for="addressee">Addressee</label>
		<input class="col-3" name="addressee" id="addressee">
		<label class="col-2" for="location">Location</label>
		<input class="col-3" name="location" id="location" placeholder="eg. level, office no, etc">
		<label class="col-2" for="number">Number</label>
		<input class="col-3" name="number" id="number">
		<label class="col-2" for="street">Street name</label>
		<input class="col-3" name="street" id="street">
		<label class="col-2" for="town">Town/Campus</label>
		<input class="col-3" name="town" id="town">
		<label class="col-2" for="postcode">Postcode</label>
		<input class="col-3" name="postcode" id="postcode">
		<!-- note that 2-letter country code is a field in the database, but deliveries are assumed to be in Australia for now 2014-02-07 -->
	</fieldset>
	
	<p>The system automatically grants access to the approved University of Melbourne corporate style for stationery. If you require access to other templates, such as those for Faculties or Graduate Schools, please select from the list below:</p>
	<fieldset>
<div class = "col-3 first">
		{% for department in departments1 %}
<label class="col-3" style="text-align: left;"><input type="checkbox" name="department-{{ department.department_id }}" value="{{ department.department_id }}"/>
		{% if department.acronym is not empty %}<abbr title="{{ department.name }}">{{ department.acronym }}</abbr>{% else %}{{ department.name }}
		{% endif %}
</label>
		{% endfor %}
</div>
<div class = "col-3">
{% for department in departments2 %}
<label class="col-3" style="text-align: left;"><input type="checkbox" name="department-{{ department.department_id }}" value="{{ department.department_id }}"/>
		{% if department.acronym is not empty %}<abbr title="{{ department.name }}">{{ department.acronym }}</abbr>{% else %}{{ department.name }}
		{% endif %}
</label>
		{% endfor %}
</div>
	</fieldset>

	<label><input name="submitted" type="submit" value="Update details"></label>
</form>
{% endblock %}
{% block nav %}
{% include 'nav.html' %}
{% endblock nav %}
