{% extends "base.html" %}

{% block title %}Your Profile{% endblock %}
{% block content %}
<h3>Username: <span class="username">{{ user }}</span></h3>
{% if first_time == true %}
<p class="alert-warning">IMPORTANT: Before you start using University Stationery, you must set up a profile by completing the form below.</p>
{% endif %}
<form action="{{ action }}" method="post">
  <fieldset class="personal-details">
    <legend>Please update your personal details</legend>

    <div>
      <label for="firstname">First name</label>
      <input type="text" name="firstname" id="firstname" aria-required="true" value="{{ first_name }}" data-error="Please enter your first name" />
    </div>
    <div>
      <label for="lastname">Last name</label>
      <input type="text" name="lastname" id="lastname" aria-required="true" value="{{ surname }}" data-error="Please enter your family name"/>
    </div>
    <div>
      <label for="phone">Telephone</label>
      <input type="text" name="phone" id="phone" aria-required="true" value="{{ phone }}" data-error="A contact phone number is required here"/>
    </div>
    <div>
      <label for="email">Email</label>
      <input type="email" name="email" id="email" aria-required="true" value="{{ email }}" data-error="Please enter an email address"/>
    </div>
  </fieldset>
  
  
  
  <p>The system automatically grants access to the approved University of Melbourne corporate style for stationery.</p>
  <p class="alert-info">If you require access to other templates, such as those for Faculties or Graduate Schools, please select from the list below</p>
  <fieldset>
    <legend>Select desired department templates</legend>
    <div class="half">
      <section>
	{% for department in departments1 %}
	<div class="inline">
	  <input type="checkbox" id="department-{{ department.department_id }}" name="department-{{ department.department_id }}" value="{{ department.department_id }}" {% if department.department_id in active_depts %}checked="checked"{% endif %}/>
	  <label for="department-{{ department.department_id }}">
	    <span>{% if department.acronym is not empty %}<abbr title="{{ department.name }}">{{ department.acronym }}</abbr>{% else %}{{ department.name }}
	      {% endif %}</span>
	  </label>
	</div>
	{% endfor %}
      </section>
      <section>
	{% for department in departments2 %}
	<div class="inline">
	  <input type="checkbox" id="department-{{ department.department_id }}" name="department-{{ department.department_id }}" value="{{ department.department_id }}" {% if department.department_id in active_depts %}checked="checked"{% endif %}/>
	  <label for="department-{{ department.department_id }}">
	    <span>{% if department.acronym is not empty %}<abbr title="{{ department.name }}">{{ department.acronym }}</abbr>{% else %}{{ department.name }}
	      {% endif %}</span>
	  </label>
	</div>
	{% endfor %}
      </section>
    </div>
  </fieldset>
  <footer>
    <label><input name="submitted" type="submit" value="Update details"></label>
  </footer>
  <p>Once you have UPDATED DETAILS</p>
  <p><a href="index.php?mode=template" class="button-small with-arrow cta">Select a Template</a></p>
</form>
{% endblock %}

