{% extends "base.html" %}

{% block title %}Show Proof{% endblock %}
{% block content %}

<div id="buttons">
					<a class="button" href="{{ pdfurl }}">Show PDF</a> <a class="button" href="{{ editurl }} ">Return to editing</a>  <a class="button" href="{{ submiturl }}">Submit Order</a>
</div>
<div class="col-5 first pullout proof-notice">
<p>
	<span class="red-proof-notice">IMPORTANT:</span><br />
	Please check proof carefully before submitting order. University Marketing and the print supplier accept no responsibility for typographical errors, spelling mistakes or incorrect information on any item. No refunds or reprints are given after a final approved design has gone to print due to oversights by the client's proof reading. Reprints will be charged at full price.
</p>
</div>

{% endblock %}
{% block nav %}
{% include 'nav.html' %}
{% endblock nav %}
