{% extends "base.html" %}

{% block title %}Order Stationery{% endblock %}
{% block content %}
	<p class="pullquote">Standard University <em>business cards</em>, <em>letterheads</em> and <em>with compliments slips</em> can be ordered online. This is an external service operated by McKellar Renown Press, although invoices will be issued internally via a charge out from the Marketing Office.</p>
	<p>For standard stationery orders, simply complete the online form by following the links (below). For stationery orders featuring a previously approved secondary logo (co-branded), please contact <a href="mailto:winniet@unimelb.edu.au">Winnie AuYeung</a> on 8344 3967.</p>
	<p>Please refer to the <a href="http://policy.unimelb.edu.au/UOM0122#section-8">Melbourne Policy Library</a> for details about staff and student eligibility for purchase of University of Melbourne business cards.</p>
	<p><a class="button" href="http://www.straighttopress.com.au/">Order Stationery Online</a></p>
	<p>For formats that cannot be ordered online, please complete and submit the <a href="documents/MarComStatOrderForm_160thUpdate.pdf" title="Stationery Order Form"><strong>Requisition for University Stationery Order Form</strong></a> - via email to - <a href="mailto:winniet@unimelb.edu.au">Winnie Au Yeung</a>.</p>
	<p><a href="documents/BELIEVEStatsOrderForm.pdf"><img src="../../images/UoM_ibelieve.jpg" width="150" height="39"></a></p>
	<p>To order the &quot;Believe&quot; stationary, please complete and submit the <a href="documents/BELIEVEStatsOrderForm.pdf" title="Stationery Order Form"><strong>Requisition for Believe Stationery Order Form</strong></a> - via email to -<a href="mailto:winniet@unimelb.edu.au">Winnie Au Yeung</a>.</p>
	<hr class="visible">
	
	<h3>Turnaround and delivery</h3>
	<p>The stationery is printed once a week in order to obtain the best combination of economy and time. Orders must be approved by 3:00 PM Thursday for delivery to the Marketing Office on Tuesday afternoon. Stationery can be collected from Marketing &amp; Communications Office at level 3/780 Elizabeth St, or can be despatched through the University's internal mail system, however Marketing &amp; Communications takes no responsibility for the delivery once it leaves the Marketing &amp; Communications Office.</p>
	<h3>Approval</h3>
	<p>All orders must be approved online by your cost centre manager (the person who controls your accounts) or your supervisor/manager. The cost centre manager will be sent a link in an automated email. Once the cost centre manager has approved the stationery and entered the full Themis account string to charge, Publishing Services will approve the transaction with the printer. Your department will be invoiced internally via a charge out from Marketing &amp; Communications.</p>
	<p class="pullout"><span style="color:red;font-weight:bold;">Important:</span> Please check your stationery carefully before approving, as Marketing &amp; Communications are not responsible for any typographic and/or copy errors. <strong>Reprints will be charged at full price.</strong></p>
	
	<h3>Pricing</h3>
	<p>A price will be given when you configure your order.</p>
	
	<h3>Stationery considerations</h3>
	<p>Please note that stationery items, in particular, business cards and B7 with compliments slips can only hold a limited amount of information and should ideally contain essential contact information only. Our system can accommodate double sided cards, however these are twice the price of single sided cards, and much less effective as a means of communication.</p>
	<h3>Problems or questions?</h3>
	<p>Please contact <a href="mailto:winniet@unimelb.edu.au">Winnie AuYeung</a> on 8344 3967</p>
	<!-- <h3>Order Stationery Manually</h3>
		<p>Stationery requiring secondary logos or that do not fit into the format of our automatic system must be produced manually, &amp; artwork fees may be applied. The University of Melbourne is a large and complex organisation, within many different organisational structures which must be accommodated within a single stationery system, in order to provide consistent branding through our stationery. If your information is not able to be accommodated through our automatic system, you may wish to look at the amount of information you are trying to fit on your stationery, and try to make this information as simple as possible, in order to save on artwork charges for manual artwork setup.</p>
		<p>As mentioned above, secondary logos must be approved by the Director, University Marketing.</p>
		<p>Artwork charges may apply</p>
		<p><a class="icon document" a href="../_uom/stationery-form/stat_req_form_20070215.pdf"><strong>Download</strong> Stationery Order Form <em>(108kb)</em></a></p>
		<p>To order, please download and complete the Request For Stationery Form then either fax on 9349 4921 or submit via Internal Mail to Marcom, Level 3, 780 Elizabeth St.</p> -->
	<hr>
{% endblock %}
{% block nav %}
{% include 'nav.html' %}
{% endblock nav %}
