{% extends "base.html" %}
{% block title %}Order Stationery{% endblock %}
{% block content %}
<section class="lead">
  <p>University branded <em>business cards</em>, <em>letterheads</em> and <em>with compliments slips</em> can be ordered here.</p>
</section>
  
<div class="half">
<section>
  <div class="video">
    <iframe width="560" height="315" src="//www.youtube.com/embed/G2ei5mLnfHM?rel=0" frameborder="0" allowfullscreen=""></iframe>
  </div>
  <p><a href="/University-Stationery-User-Guide-Nov2016.pdf" target="_blank">Download a User Guide</a></p>
</section>
<section>
<h2>Using the system</h2>
  <p class="pullquote">Ordering stationery is a simple 3-step process.</p>
  <ol class="order-steps">
    <li>Select stationery type</li>
    <li>Prepare artwork</li>
    <li>Submit order</li>
  </ol>
  {% if modes is empty %}
  
  <p>If this is the first time you have accessed the system, you must first update your profile:</p>
  <p><a class="button-hero" href="index.php?mode=new_profile"><strong>To begin: </strong> Update your profile</a></p>
  {% else %}
  <p><a class="button-hero" href="index.php?mode=template"><strong>To begin: </strong> Select a Template</a></p>
  {% endif %}
</section>
</div>

<h3>Eligibility</h3>
<p>Please refer to the University of Melbourne's <a href="https://policy.unimelb.edu.au/MPF1193#section-2.2" target="_blank"><em>Branding Policy (MPF1193)</em></a> for details about staff and student eligibility for purchase of University of Melbourne branded stationery.</p>

<h3>Approval</h3>
<ul>
  <li>Clients are able to download a low-res, watermarked PDF of the purpose of proofing artwork.</li>
  <li>No job will go into production unless submitted to print by the client. </li>
</ul>
  <p class="alert-warning"><span style="color:red;font-weight:bold;">Important</span>: The client is ultimately responsible for final approval of all artwork submitted to print production via this system. Submitting to print is deemed as approval of artwork and authorisation to proceed with the order. Submitting to print is also deemed as confirmation that the client has followed any and all approval processes as required by their organisational unit and that the information presented on the stationery being ordered is in accordance with University of Melbourne's <a href="https://policy.unimelb.edu.au/MPF1193#section-2.2" target="_blank">Branding Policy (MPF1193)</a>.</p>
  <p>Design, Print &amp; Merchandise (DPM) and the print supplier accept no responsibility for typographical errors, spelling mistakes or incorrect information on any item. No refunds or reprints are given after a final approved design has gone to print due to oversights by the client's proof reading. Reprints will be charged at full price.</p>

<h3>Pricing</h3>
<p>A price will be advised when you configure your order.</p>

<h3>Turnaround and delivery</h3>
<p>The stationery is printed once a week in order to obtain the best combination of economy and time. Orders must be approved by 2:00 PM Thursday for delivery to External Relations on the following Tuesday afternoon. Stationery can be collected from External Relations at level 2, 32 Lincoln Square North, or can be despatched through the University's internal mail system. External Relations can take no responsibility for delivery once the item/s leaves our office.</p>

<h3>Stationery considerations</h3>
<p>Please note that stationery items, particularly business cards can only hold a limited amount of information and should ideally contain essential contact information only.</p>
<p>Some formats may not supported by the online system. This includes the following:
  <ul>
    <li>items that have multiple contact numbers</li>
    <li>items that may feature a previously approved secondary logo (co-branded) or where a template does not presently exist</li>
    <li>BELIEVE campaign related stationery (please see <a href="#startbelieve" >BELIEVE campaign section below</a>)</li>
  </ul>
</p>
<p>For formats that cannot be ordered online, please complete and submit the <a href="https://form.jotform.com/unimelb/offline-stationery-orders"><em><strong>Offline Stationery Order Form</strong></em></a>.</p>
<h3 id="startbelieve">Ordering BELIEVE letterheads, business cards and with compliment slips</h3>
<p>To order BELIEVE campaign business cards, A4 letterheads or 'with compliments' slips please complete a<a href="https://form.jotform.com/unimelb/offline-stationery-orders"><strong><em> Offline Stationery Order Form</em></strong></a>.</p><p>If you need BELIEVE envelopes, please see the University-branded envelopes section above.</p>
<h3>Ordering Generic UOM Envelopes</h3>
<p>Order a variety of sizes of envelopes pre-printed with the University crest logo using iProcurement in Themis. The University’s preferred supplier for office supplies is Complete Office Supplies (COS).</p>
<h3 id="brandedenvelopes">Ordering Personalised return address, BELIEVE envelopes and Australia Post reply paid envelopes</h3>
<p>If you require a personalised return-to-sender address printed on the flap of your envelope, you will need to place a personalised envelope request via <a href="https://form.jotform.com/unimelb/order-personalised-env-Jan2016">https://form.jotform.com/unimelb/order-personalised-env-Jan2016</a>.</p>
{% endblock %}

