{% extends "base.html" %}

{% block title %}Order Stationery{% endblock %}
{% block content %}
	<p class="pullquote">University branded <em>business cards</em>, <em>letterheads</em> and <em>with compliments slips</em> can be ordered here. This is an external service operated by McKellar Renown Press, although invoices will be issued internally via a charge out from the Marketing Office.</p>
	<p><span style="color:red;font-weight:bold;">IMPORTANT</span>: Please refer to the the University of Melbourne's <a href="https://policy.unimelb.edu.au/MPF1193#section-2.2"><em>Branding Policy (MPF1193)</em></a> for details about staff and student eligibility for purchase of University of Melbourne branded stationery.</p>
	<hr class="visible">
	
	<h3>Using the system</h3>
	<p>Ordering stationery is a simple process.</p>
	<ol>
		<li>Select stationery type</li>
		<li>Prepare artwork</li>
		<li>Submit order</li>
	</ol>
	
	<h3>Approval</h3>
	<p>Clients are able to access a low res PDF of the purpose of proofing artwork. The client is ultimately responsible for final approval of all artwork submitted to print production via this system.</p>
	<p>No job will go into production unless submitted to print by the client and doing so is deemed approval of artwork.</p>
	<p><span style="color:red;font-weight:bold;">Important</span>: University Marketing and the print supplier accept no responsibility for typographical errors, spelling mistakes or incorrect information on any item. No refunds or reprints are given after a final approved design has gone to print due to oversights by the client’s proof reading. Reprints will be charged at full price.</p>
	
	<h3>Pricing</h3>
	<p>A price will be advised when you configure your order.</p>
	
	<h3>Turnaround and delivery</h3>
	<p>The stationery is printed once a week in order to obtain the best combination of economy and time. Orders must be approved by 3:00 PM Thursday for delivery to the Marketing Office on Tuesday afternoon. Stationery can be collected from Marketing Office at level 3/780 Elizabeth St, or can be despatched through the University's internal mail system, however Marketing takes no responsibility for the delivery once it leaves the Marketing Office.</p>
	
	<h3>Stationery considerations</h3>
	<p>Please note that stationery items, particularly business cards can only hold a limited amount of information and should ideally contain essential contact information only.</p>
	<p>For formats that cannot be ordered online, please complete and submit the Requisition for University Stationery Order Form - via email to <a href="mailto:winniet@unimelb.edu.au">Winnie Au Yeung</a>.</p>
	<p>To order the "Believe" stationery, please complete and submit the Requisition for Believe Stationery Order Form - via email to <a href="mailto:winniet@unimelb.edu.au">Winnie Au Yeung</a>.</p>
	
	<h3>Problems or questions?</h3>
	<p>Please contact <a href="mailto:johnvb@unimelb.edu.au">John Bedovian</a> on 8344 6934</p>
	
	<hr>
{% endblock %}
{% block nav %}
{% include 'nav.html' %}
{% endblock nav %}
